{% extends 'base.twig' %}

{% block content %}

    <h2>Create post</h2>

    <form action="" method="POST" onsubmit="return validate()">
        <div id="flasherror">{{ flash.error }}</div>
        <div id="feil"></div>
        <label>Title:</label>
        <input type ="text" id="title" name="title" onChange="validateTitle()"> <br />

        <label>Text:</label>

        <textarea cols="40" rows="10" id="cont" name="content"> </textarea><br />

        <input type="text" name="str" value="{{userStr}}" hidden />
        {% if user.bankcard != null %}
        <input type="checkbox" name="showtodoctor" value="value1"> Show post to doctors<br>
        {% endif     %}
        <input type="submit" name="submit" value="Create post">
    </form>

    <script type="text/javascript">

    function validateTitle() {
        var regex = /^[a-zA-Z0-9?]{1}[a-zA-Z0-9? ]{1,19}$/;
        var OK = regex.test(document.getElementById("title").value);

        if(!OK) {
            document.getElementById("feil").innerHTML = "Invalid title.";
            return false;
        }
        return true;
    }

    function validateContent() {
    
        var regex = /^[a-zA-Z0-9.]{1}[a-zA-Z0-9.? \s]{1,249}$/;
        var OK = regex.test(document.getElementById("cont").value);

        if(!OK) {
        document.getElementById("feil").innerHTML ="Content can not be empty/start with whitespace. Illegal sybol used."
        return false;
        }
        return true;
    }

    function validateAuthor() {
        var regex = /^[a-zA-Z0-9]{1}[a-zA-Z0-9 ]{1,19}$/;
        var OK = regex.test(document.getElementById("author").value);
        if(!OK) {
            document.getElementById("feil").innerHTML ="Invalid symbols in Author.";
            return false;
        }
        return true;
    }

    function validate() {
        var OK = true;
        
        if(!validateTitle()) {
        
            OK = false;
        }
        if(!validateContent()) {
        
            OK = false;
        }

        
        return OK;
    }

    </script>
{% endblock %}
