{% extends 'base.twig' %}

{% block content %}

{% if user %}
<h1> Please confirm that the following is correct</h1>
<h2> Press "confirm" and a new password will be sent to your e-mail</h2>

<h3>Username: {{ user.username  }}</h3>


    <form action="" method="POST" onsubmit="return validateUserName()">
        <label>Is this information correct? </label>
        <br>
        <input type = "hidden" name = "username" value = "{{ user.username }}">
        <input type="submit" name="trueInformation" value="This information is correct" title = "YES!"> <br />
    </form>

</form>

{% else %}
    Could not find a user with that username.
{% endif %}

<script type="text/javascript">
    function validateUserName() {

    	var regex = /^[a-zA-Z0-9]{2,20}/;
        var OK = regex.test(document.getElementById("user").value);
        if(!OK) {
            document.getElementById("feil").innerHTML ="Invalid username or password";
            return false;
        }
        return true;
    }
</script>

{% endblock %}