{% extends 'base.twig' %}

{% block content %}

<h2>Login</h2>

{{ flash.error}} <br />
{{ flash.success }}
<div id="feil"></div>
<form action="" method="POST" onsubmit="">

<label>Username: </label>
<input type="text" id="user" name="user"> <br />
<label>Password: </label>
<input type="password" id="pass" name="pass"> <br />
<input type="submit" name="submit" value="Log in">
</form>
    <a href="/forgot">Forgot password</a>

    <script type="text/javascript">

    function validateUserName() {

    	var regex = /^[a-zA-Z0-9]{2,10}/;
        var OK = regex.test(document.getElementById("user").value);
        if(!OK) {
            document.getElementById("feil").innerHTML ="Invalid username or password";
            return false;
        }
        return true;
    }
    function validatePassword(){
        var regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
        var OK = regex.test(document.getElementById("pass").value);

        if(!OK) {
            document.getElementById("feil").innerHTML ="Invalid username or password";
            return false;    
        }
        return true;
    }

	function validate() {
	var OK = true;

	if(!validateUserName()){
		OK = false;
	}

	return OK;
	}

    </script>
{% endblock %}
