{% extends 'base.twig' %}

{% block content %}

<h2>New user</h2>

<b>{{ flash.info}}</b> <br />
<b>{{ flash.error }}</b> <br />
<div id="feil"></div> <br />

<form action="" method="POST" onsubmit="return validate()">
    <label>Username: </label>
    <input type="text" id="user" name="user" value="{{ username }}" onChange="validateUserName();"> <br />
    <label>Password: </label>

    <input type="password" id="pass" name="pass" onChange="validatePassword();"> <br />

    <label>Full Name (Will not be visible for other users)</label>
    <input type="text" id="fullname" name = "fullname" onChange="validateFullName();"><br/>
    <label>Address (Will not be visible for other users)</label>
    <input type ="text" id="address" name = "address" onChange="validateAddress();"><br/>
    <label> Postcode (Only four digits please)</label>
    <input type = "text" id="postcode" name = "postcode" onChange="validatePostCode();"><br/>
    <input type="submit" name="submit" value="Create new user"> <br/>

</form>
<script type="text/javascript">

    function validateUserName() {

        var regex = /^[a-zA-Z0-9]{2,10}/;

        var OK = regex.test(document.getElementById("user").value);
        if(!OK) {
            document.getElementById("feil").innerHTML ="UserName can only contain between 2 and 10 letters and numbers";
            return false;
        }
        return true;
    }

    function validatePassword() {

        var regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
        var OK = regex.test(document.getElementById("pass").value);

        if(!OK) {
            document.getElementById("feil").innerHTML ="Password must contain atleast one number, one uppercase and a lowercase letter, and with length 8 or longer.";
            return false;    
        }
        return true;
    }

    function validateFullName() {
        var regex = /^[a-zA-Z]{2,50}/;
        var OK = regex.test(document.getElementById("fullname").value);

        if(!OK) {
            document.getElementById("feil").innerHTML ="FullName need to contain between 2 and 50 letters.";
            return false;
        }
        return true;
    }

    function validateAddress() {

        var regex = /^[a-zA-Z0-9]{2,70}/;
        var OK = regex.test(document.getElementById("address").value);

        if(!OK) {
            document.getElementById("feil").innerHTML ="Address need to contain between 2 and 70 numbers and letters.";
            return false;
        }
        return true;
    }


    function validatePostCode() {
        var regex = /^[0-9]{4}/;
        var OK = regex.test(document.getElementById("postcode").value);

        if(!OK) {
            document.getElementById("feil").innerHTML ="The areacode/postcode must contain 4 numbers";
            return false;
        }
        return true;
    }

    function validate() {

        OK = true;
        if(!validateUserName()) {
            OK = false;
        }
        if(!validatePassword()) {
            OK = false;
        }
        if(!validateFullName()) {
            OK = false;
        }
        if(!validateAddress()) {
            OK = false;
        }
        if(!validatePostCode()) {
            OK = false;
        }
        
        return OK;
    }
</script>
{% endblock %}
